In [33]:
import pandas as pd

In [34]:
pd.__version__

'2.0.3'

In [35]:
from sqlalchemy import create_engine

In [36]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [40]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [41]:
df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)

In [42]:
df_iter

In [43]:
df = next(df_iter)

In [44]:
df.head(n=0).to_sql(name="taxi_zone_lookup" , con=engine,if_exists='replace')

0

In [45]:
%time df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

CPU times: user 5.03 ms, sys: 8.04 ms, total: 13.1 ms
Wall time: 18.7 ms

265

In [46]:

from time import time

In [32]:
while True: 
    t_start = time()

    df = next(df_iter)
    
    df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 13.130 second
inserted another chunk, took 12.936 second

/tmp/ipykernel_3937/2325490539.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 13.332 second
inserted another chunk, took 5.430 second

StopIteration: